# Caminho para o arquivo JSON da Service Account do GCP
GOOGLE_APPLICATION_CREDENTIALS=/caminho/para/service-account.json

# ID do projeto GCP onde estao os datasets do BigQuery
BQ_PROJECT_ID=seu-projeto-gcp
